.thinkactBoxedGridCell,
.thinkactBoxedGridCellDark {
   
    border-bottom:1px solid #a0a0a0; 
    border-right:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0; 
    border-top: 1px solid #a0a0a0;
    text-align:center;
    color:red;
    
}
.thinkactBoxedGridCellOver,
.thinkactBoxedGridCellOverDark {
	border-bottom:1px solid #a0a0a0; 
    border-right:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0; 
    border-top: 1px solid #a0a0a0;
    text-align:center;
    color:black;
}

.thinkactBoxedGridCellSelected,
.thinkactBoxedGridCellSelectedDark {
	border-bottom:1px solid #a0a0a0; 
    border-right:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0; 
    border-top: 1px solid #a0a0a0;
    text-align:center;
    color:yellow;
}
.thinkactBoxedGridCellSelectedOver,
.thinkactBoxedGridCellSelectedOverDark {
    color:yellow;
    border-bottom:1px solid #a0a0a0; 
    border-right:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0; 
    border-top: 1px solid #a0a0a0;
    text-align:center;
}


.myOtherGridCell {
    
    border-bottom:1px solid #ffffff; border-top:1px solid #ffffff;
    
}

.myWZprice {
    
    text-align:left;
    color:red;
}
.myWZpriceOver,
.myWZpriceOverDark {
    text-align:center;
    color:red;
}

.myWZpriceSelected,
.myWZpriceSelectedDark {
    text-align:center;
    color:red;
}