﻿/*全局样式定义*/
body
{
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
body, html
{
	height: 100%;
}
/*布局定义*/
.login_Background_color
{
	background: #cddde6;
}
.login_Background
{
	
	text-align:center;
}
.login_Container
{
	position: absolute;
	top: 228px;
	right: 180px;
}
.login_logo
{
	background: url(../images/login_background_all.png) no-repeat;
	width: 1030px;
	height: 500px;
	margin: auto;
	position: relative;
}
.login_text_space{
	height:5px;
}
.login_text{
	height:28px;
}
/*页面垂直居中*/
.login_table
{
	border:0px;
	width:100%;
	height:100%;
	margin:auto;
}
.login_td
{
	vertical-align:middle;
}
/*登录框样式定义*/
.login_Username
{
	color: #FFFFFF;
	font-family: "宋体";
	font-size: 14px;
	text-align: right;
	width: 80px;
}
.login_Password
{
	color: #FFFFFF;
	font-family: "宋体";
	font-size: 14px;
	text-align: right;
	width: 80px;
}
.login_Position
{
	color: #7F4C66;
	font-family: "宋体";
	font-size: 14px;
	text-align: right;
	width: 80px;
}
.login_UserName_Blur
{
	border: 1px solid #A1BCA3;
	padding: 4px 2px;
	width: 160px;
	text-transform:uppercase;
}
.login_UserName_Focus
{
	border: #2480de 1px solid;
	padding: 4px 2px;
	width: 160px;
	background-color: rgb(255,255,216);
	text-transform:uppercase;
}
.login_Password_Blur
{
	border: 1px solid #A1BCA3;
	padding: 4px 2px;
	width: 160px;
}
.login_Password_Focus
{
	border: #2480de 1px solid;
	padding: 4px 2px;
	width: 160px;
	background-color: rgb(255,255,216);
}
.login_Position_dropDown
{
	height: 23px;
	width: 166px;
}
.login_RememberUserName
{
	color: #FFFFFF;
	font-family: "宋体";
	font-size: 14px;
}
.login_button_on
{
	border: 0px none;
	background: url(../images/login_button.gif) no-repeat;
	width: 75px;
	height: 21px;
	margin-right: 15px;
}
.login_button_out
{
	border: 0px none;
	background: url(../images/login_button.gif) no-repeat;
	width: 75px;
	height: 21px;
	margin-right: 15px;
}
.login_reset_on
{
	border: 0px none;
	background: url(../images/login_button.gif) no-repeat;
	width: 75px;
	height: 21px;
	margin-right: 15px;
}
.login_reset_out
{
	border: 0px none;
	background: url(../images/login_button.gif) no-repeat;
	width: 75px;
	height: 21px;
	margin-right: 15px;
}
